---
layout: default
---

<article>

  <h1>
    {{ page.title }}
  </h1>
  <div class="center">
    <p class="meta">{{ page.date | date_to_string }}</p>
  </div>

  <div class="post" id="post">
  {{ content }}
  </div>
  <ul class="tags post-tags cf">
    {% for tag in page.tags %}
    <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
    {% endfor %}
  </ul>
  {% include adsense-bottom.md %}
</article>

<section class="post-footer">
</section>

<!-- tag, category search -->

<div class="separator"></div>

<!-- facebook comments -->
<b>댓글 공지</b>

- 뭐가 문제인지 페이스북 로그인이 잘 안되는 듯 하네요. 화면이 계속 reload되는 경우 팝업창 해제, 타사쿠키 허용 등을 해보시기 바랍니다<br>
- 신규 댓글 notify 기능이 작동을 안하네요. 댓글 주셔도 답이 없을 가능성이 높습니다<br>

<BR>
<div class="fb-comments" data-href="http://jason-heo.github.io/" data-width="100%" data-numposts="5"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/javascripts/linkify.min.js"></script>
<script src="/javascripts/linkify-jquery.min.js"></script>

<script>
$('div').linkify();
</script>

